@model IEnumerable<sistema.Models.Requisito>

@{
    ViewData["Title"] = "REQUISITO";
}


@if (User?.Identity?.IsAuthenticated ?? false)
{ 


<div id="caixas">
         <form action=""       id="form">

         <select id="SearchOneItemOneContenteSearchFULL" name="Produto" asp-items="ViewBag.PRODUTO" >
                <option value=" ">Pesquisar pelo Produto</option>
         </select>           

         <span id="SENDINFO">Data do Crédito</span>
         <input  type="date"   id="SearchOne"  name="Inicio">
         <input  type="date"   id="SearchOne"  name="Fim">    

         <button type="submit" id="button_search_cadastro_DEPESAS">Pesquisar</button>
         <button type="submit" id="button_search_cadastro_new"><a id="link" href="/Requisito/Novo">Novo</a></button>
         <button type="submit" id="button_search_cadastro_new"><a id="link" href="/Home/WebSite">WebSite</a></button>
         </form>        
</div>        




<span id="SEND">Faça Pesquisas Relacionadas a SubCategoria</span>

    <div class="content" id="GRAFICOS">
        <div class="cards">


            <div class="card">
                <div class="card-left">
                    <div class="card-icon icon-two">
                        <i class="fas fa-book"></i>
                    </div>
                </div>
                <div class="card-right">
                    <div class="card-top-info">
                        <h2>Categorias</h2>
                        <h4>@ViewBag.TOTAL Unid.</h4>
                    </div>
    
                </div>
            
            


    </div>
    </div>
</div>    



<span id="SEND">SubCategorias</span>
<div id="IDTABELAS">

@foreach (var item in Model) {
  
  @if(item.Ativo == true){
  <div id="caixas">
                          <table width="100%">
                            <thead>
                                <tr>
                                    <th><span class="las la-sort"></span>Vídeo</th>
                                    <th><span class="las la-sort"></span>Produto</th>
                                    <th><span class="las la-sort"></span>Audio</th>
                                    <th><span class="las la-sort"></span>Tamanho</th> 
                                    <th><span class="las la-sort"></span>Console</th> 
                                    <th><span class="las la-sort"></span>Data</th>                                    
                                    <th><span class="las la-sort"></span>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>


                                    <td>
                                        <div id="SENDEXTRA"> <a a href="@item.video" id="ENVIARTELEGRAMA"> Ver Vídeo</a></div>                                    
                                        
                                    </td> 

                                    <td>
                                        @Html.DisplayFor(modelItem => item.nome)
                                    </td> 
  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.audio)
                                    </td>    
   
           
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tamanho)
                                    </td>
           
                                    <td>
                                        @Html.DisplayFor(modelItem => item.console)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.data)
                                    </td>  
                                   
                                    <td>
                                          <a asp-action="Dados" id="cardItem" asp-route-id="@item.codigo"  asp-route-hash="@ViewBag.HASHCODE">
                                               <i class="fas fa-file-invoice" id="ICONBOOKDESCRIPT"></i>
                                          </a> 

                           
                                    </td>
                                </tr>
                                

                            </tbody>
                        </table>

 
 </div>
  } else{
  <a asp-action="Dados" id="cardItem" asp-route-id="@item.codigo" asp-route-hash="@ViewBag.HASHCODE">
  <div id="caixas">
                          <table width="100%">
                            <thead>
                               <tr>
                                    <th><span class="las la-sort"></span>Vídeo</th>                               
                                    <th><span class="las la-sort"></span>Produto</th>
                                    <th><span class="las la-sort"></span>Audio</th>
                                    <th><span class="las la-sort"></span>Tamanho</th> 
                                    <th><span class="las la-sort"></span>Console</th> 
                                    <th><span class="las la-sort"></span>Data</th>                                    
                                    <th><span class="las la-sort"></span>Info</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
 
                         
 
                                    <td>
                                        <div id="SENDEXTRA"> <a a href="@item.video" id="ENVIARTELEGRAMA"> Ver Vídeo</a></div>                                    
                                        
                                    </td> 
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nome)
                                    </td> 
  
                                    <td>
                                        @Html.DisplayFor(modelItem => item.audio)
                                    </td>    
     
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tamanho)
                                    </td>
           
                                    <td>
                                        @Html.DisplayFor(modelItem => item.console)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.data)
                                    </td>   
                                    <td>
                                          <a asp-action="Dados" id="cardItem" asp-route-id="@item.codigo"  asp-route-hash="@ViewBag.HASHCODE">
                                               <i class="fas fa-file-invoice" id="ICONBOOKDESCRIPT"></i>
                                          </a> 

                                          <a style="text-decoration:none; color:#ffffff;" asp-action="Delete" asp-route-id="@item.codigo" asp-route-hash="@ViewBag.HASHCODE">
                                            <i class="fas fa-eraser" id="ICONBOOKDESCRIPT_DELETE"></i>
                                          </a>

                                    </td>
                      
             
                                </tr>
                                

                            </tbody>
                        </table>
    

 </div>
    </a>

  }
}
</div>



}else{

   Html.RenderPartial("~/Views/Shared/Error/error.cshtml"); 

}



@{Html.RenderPartial("~/Views/Shared/BreadCrumbs/Footer.cshtml"); }
@{Html.RenderPartial("~/Views/Shared/Buttons/FloatIA.cshtml"); }
@{Html.RenderPartial("~/Views/Shared/Buttons/Float.cshtml"); }

